<h2>Account comfirmation!</h2>
<p>
    <strong>email:</strong>
    <%= @dog.email %>
</p>  


<p>
    <strong>Name:</strong>
    <%= @dog.name %>
</p>  

<p>
      <strong>Sex:</strong>
    <%= @dog.sex %>
    
</p> 

<p>
      <strong>Age:</strong>
    <%= @dog.age %>
    
</p> 

<p>
      <strong>Bio:</strong>
    <%= @dog.bio %>
    
    
</p>    

<%= link_to 'return', dogs_path %>