<h2>Match</h2>
<p>WE NEED TO HAVE THIS START DISPLAYING MATCHES FROM THE DATABASE</p>

<h1> YOU HAVE A Possible MATCH!</h1>

<p>
    <strong>Name:</strong>
    <%= @mycurrentmatch.name %>
</p>  

<p>
      <strong>Sex:</strong>
    <%= @mycurrentmatch.sex %>
    
</p> 

<p>
      <strong>Age:</strong>
    <%= @mycurrentmatch.age %>
    
</p> 

<p>
      <strong>Bio:</strong>
    <%= @mycurrentmatch.bio %>
    
    
</p> 


<%= form_for([@dog, @dog.matches.build]) do |f| %>
  <p>
      
    <%= f.submit %>
  </p>
<% end %>

<p><%= link_to 'I WOULD LIKE TO MATCH', dog_match_path(:id => :mymatchid) %></p>
<p><%= link_to 'Find a new doggy friend', dog_matches_path(:current_user_id) %></p>
<%= link_to 'Back', dogs_index_path %>

<h1>All your matches!</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @matches.each do |matc| %>
    <tr>
      <td><%= matc.dog_id %></td>
      
      
    </tr>
  <% end %>
</table>