<h2>Match</h2>
<p>WE NEED TO HAVE THIS START DISPLAYING MATCHES FROM THE DATABASE</p>

<h1> YOU HAVE A POSSIBLE MATCH!</h1>

<p>
    <strong>Name:</strong>
    <%= @mycurrentmatch.name %>
</p>  

<p>
      <strong>Sex:</strong>
    <%= @mycurrentmatch.sex %>
    
</p> 

<p>
      <strong>Age:</strong>
    <%= @mycurrentmatch.age %>
    
</p> 

<p>
      <strong>Bio:</strong>
    <%= @mycurrentmatch.bio %>
    
    
</p>    
 

<%= link_to 'Back', dogs_index_path %>