<!DOCTYPE html>
<html>
   <body>
      <%= render 'layouts/navbar' %>
      <h2>You are being Matched!</h2>
      <h1> YOU HAVE A Possible MATCH!</h1>
      <p>
         <strong>Name:</strong>
         <%= @mycurrentmatch.name %>
      </p>
      <p>
         <strong>Sex:</strong>
         <%= @mycurrentmatch.sex %>
      </p>
      <p>
         <strong>Age:</strong>
         <%= @mycurrentmatch.age %>
      </p>
      <p>
         <strong>Bio:</strong>
         <%= @mycurrentmatch.bio %>
         
       
      </p>
      <p> <%= link_to "Add the Match", dog_matches_path(@match, dogone: @currentdogid, dogtwo: @mymatchid, dog_id: '?'), method: :post %><p>
      <p>
      <p><%= link_to 'Find a different dogger friend', dog_matches_path(:current_user_id) %></p>
      </table>
      </p>
      
     <h2>Your Matchs</h2>
  <p><% @pervousmatches.each do |f| %></p>
    
      <p hidden ><%= @dog = Dog.find_by(:id =>f.dogtwo) %></p>
      <tr>
      <td><%= @dog.name %></td>
      <td><%= link_to 'Chat', dog_match_chats_path(:match_id => f.id) %></td>
      <td><%= link_to 'Unmatch',
                                  dog_match_path(:id => f.id),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
    </tr>
    
  <% end %>
</p>
    
   </body>
</html>

