<h2>You are being Matched!</h2>


<h1> YOU HAVE A Possible MATCH!</h1>

<p>
    <strong>Name:</strong>
    <%= @mycurrentmatch.name %>
</p>  

<p>
      <strong>Sex:</strong>
    <%= @mycurrentmatch.sex %>
    
</p> 

<p>
      <strong>Age:</strong>
    <%= @mycurrentmatch.age %>
    
</p> 

<p>
      <strong>Bio:</strong>
    <%= @mycurrentmatch.bio %>
    
    
</p> 
<p> <%= link_to "Add match", dog_matches_path(:id => @mycurrentmatch.id), :method => :post %><p>
<p><%= link_to 'Find a different dogger friend', dog_matches_path(:current_user_id) %></p>

 <p>
  <% @matches.each do |matc| %>
   <p hidden><%= @dog = Dog.find(matc.dog_id) %></p>
  <p hidden><%= @tempid = matc.id %></p>
    <tr>
       
      <td><%= @dog.name %></td>
      <td><%= link_to 'Chat', new_dog_match_chat_path(:match_id => @tempid) %></td>
      <td><%= link_to 'Unmatch',
                                  dog_match_path(:id => @tempid),
                                  method: :delete,
                                  data: { confirm: 'Are you sure?' } %></td>
    </tr>
    </tr>
  <% end %>
  
</table>
</p>